@import 'tokens.scss';

.btn {
  background: $color-background-button;
  font-size: $text-size-button;
  color: $color-text;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  transition: all $transition-speed-fast ease;
  width: fit-content;

  &:hover {
    transform: translateY(-0.25rem);
  }

  &:active {
    transform: translateY(0.25rem);
  }

  &:disabled {
    filter: grayscale(100%);
    font-size: 1.2em;
    &:hover {
      cursor: not-allowed;
      transform: none;
    }
  }

}
