@import 'tokens.scss';

.footer {
  
  
  .container {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  
  
    // Hourglass image container
    & > img {
      max-width: 12rem;
      width: 100%;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 3rem;
      position:relative;
      z-index: 1;
    }
    // Ellipse blur behind hourglass
    position:relative;
    &::before{
      content: '';
      position: absolute;
      width: 25rem;
      height: 25rem;
      left: 50%;
      transform:translateX(-50%);
      top: 3.2rem;
      background: $color-hourglass-bg;
      filter:blur(35px);
      z-index: 0;
      border-radius: 50%;
    }
    & > div {
      position:relative;
      z-index: 1;
      
      & > img {
        width: 75%;
        max-width: 21.25rem;
        margin-bottom: 1.13rem;
      }
  
      .icons {
        display: flex;
        align-items: center;
        gap: 1.25rem;
  
        img {
          max-width: 3.13rem;
        }
      }
    }
  }
}
