@use "tokens" as *;

#handbook {
  section {
    max-width: 1200px;
  }

  h2 {
    margin-bottom: 1rem;
  }
  h3{
    font-size:2.1rem;
  }

  #hero-section h2 {
    text-align: center;
    margin-top: 3rem;
  }

  @include viewport(mobile) {
    #hero-section h2 {
      margin-top: 8rem;
    }
    .map-container {
      border-radius: 10px;
    }
    &::before{
      padding-top:75%;
    }
  }

  .award{
    color: $color-text-heading;
    font-weight:bold;
  }

  .code{
    background-color: rgba(94, 92, 86, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: 'Fira Code', monospace;
    color: $color-text-heading;
  }

  a{
    color: $color-text-heading;
  }

  .map-container{
    position:relative;
    width:100%;
    max-width:800px;
    margin: 1.5rem auto;
    border-radius:15px;
    overflow:hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    &::before{
      content:"";
      display:block;
      padding-top:56.25%; /* 16:9 Aspect Ratio */
    }

    iframe{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      border:0;
    }
  }

}