@import "./tokens.scss";

#handbook {
    section {
        max-width: 1200px;
    }

    h2 {
        margin-bottom: 1rem;
    }

    #hero-section h2 {
        text-align: center;
        margin-top: 3rem;
    }

    @include viewport(mobile) {
        #hero-section h2 {
            margin-top: 8rem;
        }
    }
}