@use "tokens" as *;

#hero-section {
  overflow: hidden;
  .hero-image-container {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    @include viewport(mobile) {
      margin-bottom: 10%;
      width: 100%;
    }
  }

  .hero-cassette {
    z-index: -1;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left:1rem;
    animation: float 6.25s ease-in-out infinite;
    max-width: 30rem;
    width:100%;

    @include viewport(mobile) {
      max-width: 25rem;
      padding-bottom:0;
    }
  }

  @include viewport(mobile) {
    padding-bottom:0;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
}

@keyframes float-rotate-1 {
  0%,
  100% {
    transform: rotate(-15deg) translateY(4px) translateX(-25%);
  }
  50% {
    transform: rotate(-15deg) translateY(-4px) translateX(-25%);
  }
}

@keyframes float-rotate-2 {
  0%,
  100% {
    transform: rotate(0deg) translateY(4px);
  }
  50% {
    transform: rotate(0deg) translateY(-4px);
  }
}

@keyframes float-rotate-3 {
  0%,
  100% {
    transform: rotate(15deg) translateY(4px);
  }
  50% {
    transform: rotate(15deg) translateY(-4px);
  }
}


