@import "./hero-anim.scss";
@import "./tokens.scss";

#intro-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80dvh;
  max-height: 1024px;
  padding-top: 12rem;
  @include viewport(mobile) {
    height: 60dvh;
  }
  .intro-image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // Gradient
    img:nth-of-type(1) {
      z-index: 1;
    }
    img:nth-of-type(2) {
      position: absolute;
      filter: blur(3.5em);
      z-index: 0;
    }

    @include viewport(mobile) {
      height: 55%;
    }
    @include viewport(tablet) {
      height: 75%;
    }

    @include viewport(desktop) {
      height: 120%;
    }
  }
}

#hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  gap: 2rem;

  h1 {
    text-wrap: nowrap;
  }

  h3 {
    color: $color-text-subheading;
    background: transparent;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    -moz-background-clip: unset;
    -moz-text-fill-color: unset;
    //margin-bottom: 2.81rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    max-width: clamp(22rem, 45vw, 50rem);
    
    @include viewport(mobile) {
      max-width: 100%;
    }
  }

  .medium {
    font-weight: 600;
    color: $color-text-subheading;
  }

  img#hero-image {
    width: 32em;
    margin-left: -5%;
    margin-right: -5%;
  }

  @include viewport(desktop) {
    h1 {
      font-size: 4em;
    }
  }

  @include viewport(tablet-desktop) {
    h1 {
      font-size: 3em;
    }
    h3 {
      font-size: 1.5em;
    }
    img#hero-image {
      width: min(25em, 50vw);
    }
  }
  @include viewport(tablet) {
    h1 {
      font-size: 2.5em;
    }

    img#hero-image {
      width: min(25em, 50vw);
    }
  }

  @include viewport(mobile) {
    flex-direction: column;
    img#hero-image {
      width: 90%;
      z-index: 0;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
    justify-content: flex-start;
    width: fit-content;
    z-index: 1;
    @include viewport(mobile) {
      align-items: center;
    }
    &:nth-of-type(1) {
      @include viewport(desktop) {
        margin-right: -10%;
      }
      @include viewport(tablet) {
        margin-right: -15.5%;
      }
    }
  }

  .handbook-link{
    color: $color-text-subheading;
    text-decoration: underline;
    transition: color $transition-speed-fast ease;
    &:hover {
      color: $color-text-heading;
    }
  }
}

@include viewport(tablet) {
  br {
    display: none;
  }
}

@include viewport(mobile) {
  #hero-section {
    text-align: center;
  }

  #intro-image-section {
    padding-top: 8em;
  }

  #hero-section {
    padding-top: 0em;
  }
}

