@use "tokens" as *;

html {
  //background: $color-background;
  scroll-behavior: smooth;
}

body{
  background-image: url('./assets/images/bg.png');
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: $container-max-width;
  padding: clamp(1rem, 5vw, 8rem);
  margin: auto;
  color: $color-text;

  h1, h2, h3, h4, h5, h6 {
    background-color: $color-text-heading;
    background-image: $color-text-heading;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 600;
    line-height: 100%;
  }

  h1 {
    font-size: $text-size-h1;
  }

  h2 {
    font-size: $text-size-h2;
  }

  p {
    font-size: $text-size;
  }
}

.container-info {
  max-width: $container-max-width;
  padding: clamp(1rem, 3vw, 6rem);
  margin: auto;
  color: $color-text;

  h1, h2, h3, h4, h5, h6 {
    background-color: $color-text-heading;
    background-image: $color-text-heading;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 600;
    line-height: 100%;
  }

  h1 {
    font-size: $text-size-h1;
  }

  h2 {
    font-size: $text-size-h2;
  }

  p, li {
    font-size: $text-size;
  }
}