@import "_tokens.scss";

.header {
  display: flex;
  padding: 20px 60px;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-decoration: none;
  position: fixed;
  max-width: 100vw;
  width: 100%;
  transition: top 0.5s, color 0.4s, background-color 0.3s;
  z-index: 2;
  top:0;

  &.header-scrolled {
    box-shadow: 0px 5px 5px rgba($color: #000, $alpha: .5);
    background-color: rgba($color: #000, $alpha: .5);
    backdrop-filter: blur(10px);
    .list li a:not(.handbook) {
      color: white;

      &:hover {
        color: $color-text-heading-fallback;
      }
    }
  }
  

  .hamburger {
    display: none;
  }


  img {
    width: 6rem;
    transition: filter 0.25s ease-in-out;
    &:hover {
      transform: scale(1.1);    
    }
  }

  .list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    align-items: center;
    column-gap: 20px;
    color: $color-text;

    li {
      width: min-content;
      white-space: nowrap;
      
      a:not(.handbook) {
        color: $color-text;
        text-decoration: inherit;
        font-weight: bold;
        font-size: 1.1em;
        transition: color $transition-speed-fast ease;

        &:hover {
          color: $color-text-heading;
        }
      }

      &.handbook {
        background: $color-background-button;
        color: $color-text;
        border: 3px solid $color-text;
        cursor: pointer;
        border-radius: 1.88rem;
        padding: 0.75rem 1.5rem;
        font-weight: 600;
        transition: all $transition-speed-fast ease;
      
        &:hover {
          transform: translateY(-0.25rem);
        }
      
        &:active {
          transform: translateY(0.25rem);
        }
      }
    }
  }

  @include viewport(mobile) {
    .mobile-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1.2em;
      align-items: center;

      .logo {
        width: 3.2rem;
      }
      
      .hamburger {
        display: block;
        width: 1.8em;
        cursor: pointer;
        color: white;
      }
    }
    
    .nav {
      display: none;
      padding: 1em;
      width: 50%;
      .list {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 30px;
        padding-inline-start: 0px;
        column-gap: 0;
        justify-items: center;
        padding: 1em;
      }
    }
  }
}


@include viewport(mobile) {
  .header {
    opacity: 1;
    flex-direction: column;
    padding: 0;
    box-shadow: 0px 5px 5px rgba($color: #000, $alpha: .5);
    background-color: rgba($color: #000, $alpha: .5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    transition: top 0.5s, color 0.4s, background-color 0.3s;
  
    .mobile-header{
      .logo {
        width: 4rem;
      }
    }

    .list li a:not(.handbook) {
      color: white;

      &:hover {
        color: $color-text-heading-fallback;
      }
    }
  }
}