@use "tokens" as *;

#sponsors {
  text-align: center;
  p {
    font-size: 1.5em;
    padding: 2em 0;
  }

  a {
    color: $color-text-heading-fallback;
  }
}
.sponsors {
  display: grid;
  gap: 1.5rem 1rem;
  grid-template-columns: 1fr 1fr;
  margin: auto;

  .sponsor {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 66.15%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 30px;
    text-decoration: none;
    font-size: 2rem;
    height: 10rem;
    width: auto;
    transition: transform .2s;
    &:hover {
      transform: scale(1.05);    
    }
    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }

    grid-column: span 2;

    // for blurry backgrounds to allow light mode image visibility
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    // converting dark logos to light logos
    &[href*="ea.com"] img,
    &[href*="csss"] img {
      filter: invert(1);
    }
  }

  .sponsor-mini-container {
    grid-column: span 2;

    display: flex;
    flex-wrap:wrap;
    gap:1rem;
    justify-content: center;

    //grid-template-columns: repeat(2, 1fr); // Changed from 1fr to repeat(2, 1fr)
    //gap: 1rem;

    .sponsor.mini {
      flex: 0 1 calc(50% - 0.5rem);
      height: 8rem;

      // making logos a little bigger
      &[href*="stevespokebar"] img,
      &[href*="crustncrunch"] img,
      &[href*="csss"] img,
      &[href*="gamedev"] img,
      &[href*="fas"] img,
      &[href*="seess"] img,
      &[href*="synexuslabs"] img {
        transform: scale(1.3);
      }
    }
  }

  @include viewport(desktop) {
    grid-template-columns: repeat(6, 1fr);
    
    .sponsor {
      grid-column: span 3;
    }
    
    .sponsor.big {
      grid-column: span 6;
    }

    .sponsor-mini-container {
      grid-column: span 6;
      grid-template-columns: repeat(3, 1fr);
      
      .sponsor.mini {
        flex: 0 1 calc(33.333% - 0.67rem); // 3 columns on desktop
      }
    }
  }
}